<li>
    {{burger_name}}
    <button
    class='change-burger'
    data-id='{{id}}'
    data-newdevoured='{{devoured}}'>
        {{#if devoured}}
            Purchase burger
        {{else}}
            No pickles!
        {{/if}}
    </button>
</li>